*.gb
*.cgb
*.gbc
*.sgb
*.lst
*.map
*.o
*.sym
*.asm
*.cdb
*.adb
*.lk
*.noi
*.rel
*.ihx
*.bi4
*.1bpp
*.2bpp
*.tilemap
*.pal
*.zip
*.gpl
*.diff
*.uge
*.ini
*.exe
*.sav
*.tiled-project
*.tiled-session
FILE_ID.DIZ
